@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
    --pumpkin: #ff6d00ff;			
    --safety-orange: #ff7900ff;
    --ut-orange: #ff8500ff;
    --princeton-orange: #ff9100ff;
    --orange-peel: #ff9e00ff;
    --russian-violet: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;	
}

* {
    margin: 0;
    padding: 0;
    font-size:1.05em;
    font-family:'Roboto', sans-serif;
}

body {
    background-color: var(--persian-indigo);
    background: linear-gradient(0deg,var(--persian-indigo), var(--tekhelet));
}

main {
    margin: auto;
    max-width: 500px;
    height: 100vh;
}
.phrase{
    margin-left:15%;
    margin-right:15%;
}
.card>.phrase>p{
    text-align:center;
    padding-top:40%;
}
.phrase{
    margin-left:15%;
    margin-right:15%;
}
.card .phrase>p{
    text-align:center;
    padding-top:40%;
}
.card>.choix2{
    background-color:var(--amethyst);
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    margin:0% 15% 0% 15%;
    padding:2%;
}
.card>.choix1{
    background-color:var(--french-violet);
    display:flex;
    justify-content: center;
    padding:5%;
    margin:30% 15% 0% 15%;
    justify-content: space-evenly;
}
.surcontainer{
    padding-top:40%;
}
.login-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}
.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:10px;
}
.login-container button {
    background-color: var(--ut-orange);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:10px;
}
.login-container button:hover{
    background-color: var(--pumpkin);
}




#swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 90vw;
    max-width: 500px;
    height: 80vh;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    position: absolute;
}
.card.active {
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-btn {
    background-color: #FF6B6B;
    color: white;
}

.right-btn {
    background-color: #6BFF6B;
    color: white;
}
